.header {
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 25px;
    margin-bottom: 25px;
    position: relative;
}

.header-image {
    position: absolute;
    top: 25px;
    right: 25px;
}

.header h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.movies-list {
    display: grid;
    gap: 25px;
    position: relative;
}

.movies-list .loading-wrapper > div {
    margin-top: 1rem;
    top: 0;
    width: 100%;
    background-color: transparent;
}
